################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Labirynt/.vs/Labirynt/v15/Browse.VC.opendb
